@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* background-video */
.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
/* header */
.bio {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  width: fit-content;
  border-radius: 20px;
}
.profile-img {
  width: 15rem;
  border-radius: 50%;
}

.text {
  margin: 25px;
  line-height: 1.5;
}

.text h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.text p {
  font-size: 18px;
}

.bio,
.info {
  color: rgb(16, 16, 16);
}
.info {
  text-align: center;
  margin: 10rem;
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* social-media */

.social {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.fa-brands {
  color: white;
  font-size: 5rem;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 50px 75px 50px;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-instagram:hover {
  /* color: #c32aa3; */
  color: #e4405f;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-youtube:hover {
  color: #ff0000;
}
.fa-github:hover {
  color: #333;
}
.fa-x-twitter:hover {
  color: #000000;
}
